   <footer class="ms-footer">
    <div class="container">
      <a href="https://www.linkedin.com/in/josh-lawman-9b2604136/" class="btn-circle btn-circle-white animated zoomInUp animation-delay-11">
        <i class="fa fa-linkedin"></i>
      </a>

    </a>
    <a href="https://github.com/jlawman" class="btn-circle btn-circle-white animated zoomInUp animation-delay-12">
      <i class="fa fa-github"></i>
    </a>

    <a href="mailto:jlawman@gmail.com" class="btn-circle btn-circle-white animated zoomInUp animation-delay-12">
      <i class="fa fa-mail"></i>
    </a>
    </div>
  </footer>