<nav class="purple lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">JL</a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

          <ul class="right hide-on-med-and-down">
            <li><a href="{{ "/" | relative_url }}">Home </a></li>            
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Home</a></li>
          </ul>        

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>

    <div class="section">

      <!--   Icon Section   -->
      
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center green-text darken-4"><i class="fa fa-table"></i></h2>
            <h5 class="center">Pandas</h5>

       
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="fa fa-cogs"></i></h2>
            <h5 class="center">Scikit-Learn</h5>


          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center deep-purple-text lighten-2"><i class="fa fa-spinner"></i></h2>
            <h5 class="center">Deep Learning</h5>
          </div>
        </div>
      </div>

    </div>

</nav>