---
layout: default
---

 
    <div class='container'>
    


{% for cat in site.category-list %}
<div class="card grey lighten-2" id={{cat}}>
<div class="card-content white purple-text">
<span class="card-title"> {{ cat }}</span>
<div class="card grey lighten-3">
<div class="card-content purple-text">
<ul>
  {% for page in site.pages %}
    {% if page.resource == true %}
      {% for pc in page.categories |sort:'alphabetical' %}
        {% if pc == cat %}
          <li><a class="waves-effect waves-light btn purple lighten-5" href="{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}   <!-- cat-match-p -->
      {% endfor %}  <!-- page-category -->
    {% endif %}   <!-- resource-p -->
  {% endfor %}  <!-- page -->
</ul>
</div>
</div>
</div>
</div>
{% endfor %}  <!-- cat -->


{% for cat in site.category-list %}
<div class="card grey lighten-2" id={{cat}}>
<div class="card-content white purple-text">
<span class="card-title"> {{ cat }}</span>
<div class="card grey lighten-3">
<div class="card-content purple-text">
<ul>
  {% for page in site.pages %}
    {% if page.resource == true %}
      {% for pc in page.categories |sort:'alphabetical' %}
        {% if pc == cat %}
          <li><a class="waves-effect waves-light btn" href="{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}   <!-- cat-match-p -->
      {% endfor %}  <!-- page-category -->
    {% endif %}   <!-- resource-p -->
  {% endfor %}  <!-- page -->
</ul>
</div>
</div>
</div>
</div>
{% endfor %}  <!-- cat -->
  
</div>