---
layout: default
---

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center green-text darken-4"><i class="fa fa-table"></i></h2>
            <h5 class="center">Pandas</h5>

       
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="fa fa-cogs"></i></h2>
            <h5 class="center">Scikit-Learn</h5>


          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center deep-purple-text lighten-2"><i class="fa fa-spinner"></i></h2>
            <h5 class="center">Deep Learning</h5>
          </div>
        </div>
      </div>

    </div>
      
    </div>
    <div class='container'>
    

{% for cat in site.category-list %}
<div class="section" id={{cat}}>
<h5> {{ cat }}</h5>
<div class="collection">
  {% for page in site.pages %}
    {% if page.resource == true %}
      {% for pc in page.categories %}
        {% if pc == cat %}
          <a class="collection-item blue-text darken-4" href="{{ page.url }}">{{ page.title }}</a>
        {% endif %}   <!-- cat-match-p -->
      {% endfor %}  <!-- page-category -->
    {% endif %}   <!-- resource-p -->
  {% endfor %}  <!-- page -->
</div>
</div>
{% endfor %}  <!-- cat -->
  </div>


  </div>