---
layout: default
---

 
    <div class='container'>
    

{% for cat in site.category-list %}
<div class="section" id={{cat}}>
<h5> {{ cat }}</h5>
<div class="collection">
  {% for page in site.pages %}
    {% if page.resource == true %}
      {% for pc in page.categories %}
        {% if pc == cat %}
          <a class="collection-item purple-text" href="{{ page.url }}">{{ page.title }}</a>
        {% endif %}   <!-- cat-match-p -->
      {% endfor %}  <!-- page-category -->
    {% endif %}   <!-- resource-p -->
  {% endfor %}  <!-- page -->
</div>
</div>
{% endfor %}  <!-- cat -->
  </div>